<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="constring" value="Data Source = DESKTOP-1T6S6EO\SQLEXPRESS; Initial Catalog=MainDatabase;Persist Security Info=True;User ID=sa;Password=s321SQL1234"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>